engine-strict=false
legacy-peer-deps=true
fund=false
audit=false
loglevel=warn
auto-install-peers=true
fetch-timeout=60000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
registry=https://registry.npmjs.org/
