engine-strict=false
legacy-peer-deps=true
fund=false
audit=false
loglevel=warn
fetch-timeout=30000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-retries=3
registry=https://registry.npmjs.org/
maxsockets=100
prefer-offline=true
prefer-online=false
